.site-header {
  background: white;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);

  &:after {
    @include clearfix;
  }
}
.title-container {
  position: relative;
  display: inline-block;
  background: $color-gray-10;
  padding: $baseline-height * .75 $baseline-height $baseline-height * .75 $column * 2.5;

  &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 100%;
    left: 100%;
    top: 0;
    transform: translateZ(0);
    background: linear-gradient(to right bottom, $color-gray-10 47%, transparent 50%)
  }
  &.has-tagline {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.site-title {
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 900;

  a {
    @extend %light-link;
    text-decoration: none;
  }
}
.tagline {
  @extend %twelve-pixels;
  color: $color-gray-90;
  margin: 0;
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height 0 $baseline-height / 2;
  transition: opacity 0.2s;

  li {
    display: inline-block;
    margin-right: 20px;
  }
  &.fade {
    opacity: 0;
  }
}
.logo {
  max-width: 100%;
  width: 200px;
  height: auto;
}

@media all and (min-width: $nine-hundred) {

  .title-container {
    float: left;
    margin-right: $baseline-height * 2;
    z-index: 19;
  }
  .social-media-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $column * 2.5;
    margin: 0;
  }
}

@media all and (min-width: $eleven-hundred) {

  .site-header {
    margin-bottom: $baseline-height / 2;
  }
}