.toggle-navigation {
  float: right;
  background: none;
  margin: 0;
  padding: 0;
  border: none;

  svg g {
    fill: white;
  }
}
.menu-primary-container {
  background: white;
  padding: $baseline-height $column * 2.5;
}
.menu-primary {

  ul {
    margin: 0;
    list-style: none;
  }
}