.toggle-navigation {
  position: relative;
  float: right;
  font-size: 1em;
  line-height: 1.5;
  background: none;
  margin: 0;
  border: none;
  padding: $baseline-height * .75  $column * 2.5 $baseline-height * .75 $baseline-height;

  &:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    width: 40px;
    height: 32px;
    border: solid 1px $color-gray-80;
    visibility: hidden;
  }
  svg {
    display: inline-block;
    vertical-align: middle;

    g {
      fill: $color-gray-10;
    }
  }
  &:hover,
  &:active,
  &:focus,
  &.open {

    svg g {
      fill: $color-gray-40;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &.open {
    outline: none;

    &:after {
        visibility: visible;
    }
  }
}
.menu-primary-container {
  background: white;
  max-height: 0;
  margin: 0;
  overflow: hidden;

  .menu-inner-container {
    position: relative;
    padding: $baseline-height $column * 2.5;
    min-height: $baseline-height;
  }
  &.open {
    max-height: none;
  }
}
.menu-primary {

  ul {
    margin: 0;
    list-style: none;
  }
  li {
    margin-bottom: $baseline-height / 2;

    &.current-menu-item,
    &.current_page_item,
    &.current-menu-ancestor {

      > a {
        font-weight: 700;
      }
    }
  }
}
/* Tier 2 */
.menu-primary {

  ul ul {
    max-height: 0;
    overflow: hidden;
    margin-left: $baseline-height;

    li {

      &:first-child {
        margin-top: $baseline-height / 2;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // li.open
  .open {

    > ul {
      max-height: none;
    }
    > .toggle-dropdown {

      // &:after {
      //   content: '\f106';
      // }
    }
  }
}

.toggle-dropdown {
  top: 0;
  font-size: 1em;
  padding: 3px 6px;
  margin: 0;
  border: none;
  background: none;

  i {
    transition: top 0.2s;
    top: 0;
    right: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

@media all and (min-width: $nine-hundred) {

  .toggle-navigation {
    display: none;
  }
  .toggle-dropdown {
    font-size: 14px;
    padding: 0;
    margin-left: 3px;
    vertical-align: middle;
  }
  .menu-primary-container {
    position: relative;
    max-height: none;
    overflow: visible;
    height: 60px;
    z-index: 9;

    .menu-inner-container {
      position: relative;
      padding: 0 $column * 2 0 $baseline-height * 2;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .menu-primary {

    // make arrow face downwards if menu opened at mobile then resized
    .open {

      > .toggle-dropdown {

        // &:after {
        //   content: '\f107';
        // }
      }
      > ul {
        opacity: 1;
        visibility: visible;
        top: calc(100% - 2px);
      }
    }
    li {
      display: inline-block;
      margin: 0 20px 0 0;

      &:hover {

        > a:after {
          transform: scale(1);
        }
        > button i {
          top: 2px;
        }
      }
    }
    a {
      position: relative;
      font-size: 0.75em;
      line-height: 1.5;

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background: $color-gray-90;
        transform: scale(0);
        transition: transform 0.2s;
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        height: 4px;
        left: 0;
        width: 100%;
      }
      &:hover,
      &:active,
      &:focus {

        &:after {
          transform: scale(1);
        }
      }
    }
  }
  /* Tier 2 */
  .menu-primary {

    /***** Tier 2 *****/
    ul ul {
      position: absolute;
      z-index: 19;
      top: calc(100% + 4px);
      max-height: none;
      overflow: visible;
      background: white;
      margin-left: 0;
      padding: 0 $baseline-height / 2 $baseline-height * .75;
      left: 0;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
      border-top: solid 2px $color-gray-90;
      min-width: 5em;
      transition: opacity 0.2s, visibility 0.2s, top 0.2s, left 0.2s;

      &:hover,
      &.focused {
        opacity: 1;
        visibility: visible;
        top: calc(100% - 2px);
      }
      li {
        white-space: nowrap;
        margin: 0 10px 6px 0;
      }
      a {
        width: 100%;
      }
    }
    li {
      display: inline-block;
      margin: 0 10px 0 0;

      &.menu-item-has-children {
        position: relative;

        > a {

          &:hover,
          &:active,
          &:focus {

            ~ ul {
              opacity: 1;
              visibility: visible;
              top: calc(100% - 2px);
            }
            + button i {
              top: 2px;
            }
          }
        }
        /***** Tier 3+ *****/
        ul {

          li {
            display: list-item;
          }
          .menu-item-has-children {

            &:hover,
            &:active {

              button {

                i {
                  right: -2px;
                  top: 0;
                }
              }
            }
            button i {
              transition: right 0.2s ease;
              margin-left: 3px;
            }
            > a {

              &:before {
                top: 0;
                bottom: 0;
                left: 100%;
                height: 100%;
                width: 36px;
              }
              &:hover,
              &:active,
              &:focus {

                ~ ul {
                  opacity: 1;
                  visibility: visible;
                  top: -12px;
                  left: 100%;
                }
                + button i {
                  top: 0;
                  right: -2px;
                }
              }
            }
          }
          ul {
            top: -12px;
            left: calc(100% + 4px);

            &:hover,
            &.focused {
              top: -12px;
              left: 100%;
            }
          }
        }
      }
    }
  }
}