.sidebar-primary {
  margin: $baseline-height $column;

  .widget {
    padding: $baseline-height $column * 1.5 * 1.06 $baseline-height * 1.5;

    > *:not(.widget-title) {
      @extend %fourteen-pixels;
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .sidebar-primary {
    width: $column * 11;
    float: right;
    margin: $baseline-height $column $baseline-height * 2 0;

    .widget {
      padding: $baseline-height $column * 2.5 * 1.64;
    }
  }
  .left-sidebar {

    .sidebar-primary {
      margin: $baseline-height 0 $baseline-height * 2 $column;
    }
  }
}