.widget {
  border: solid 6px $color-gray-90;
  padding: $baseline-height $baseline-height $baseline-height * 1.5;
  margin-bottom: $baseline-height;

  ul {
    list-style: none;
    margin: 0;

    ul {
      margin: $baseline-height / 2 0 0 $baseline-height;
    }
  }
  li {
    margin-bottom: $baseline-height / 2;

    a {

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .current-cat {
    font-weight: 700;
  }
}
.widget-title {
  @extend %eighteen-pixels;
  margin-bottom: 24px;
}
.widget_recent_entries {

  span {
    display: block;
    font-size: 12px;
    line-height: 18px;
  }
}
.widget_calendar {

  a {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  caption {
    margin-bottom: 6px;
  }
  table {
    margin: 0 auto $baseline-height / 2;
    width: 100%;
    text-align: center;
  }
  thead {
    background: $color-gray-90;
  }
  th,
  tr,
  td {
    border-color: $color-gray-80;
  }
  #today {
    background: $color-gray-10;
    color: white;
  }
  #prev,
  #next,
  .pad {
    padding: 0;

    a {
      display: block;
      padding: 8px;
      transition: all 0.2s;

      &:hover,
      &:active,
      &:focus {
        background: $color-gray-90;
      }
    }
  }
}
.widget_recent_comments {

  li a {
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
.widget_rss {

  .widget-title {

    img {
      margin-right: 4px;
    }
    a {

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .rssSummary {
    margin: $baseline-height / 2 $baseline-height;
    color: $color-gray-40;

    + cite {
      display: block;
      margin: 0 0 $baseline-height $baseline-height;
    }
  }
  .rss-date {
    font-style: italic;
  }
  li {
    display: block;
  }
  cite,
  span {
    margin-bottom: $baseline-height;
    display: block;
  }
  span {

    + cite {
      margin-top: -$baseline-height;
    }
  }
}
.widget_search {

  input {
    font-size: 12px !important;
    line-height: 18px !important;
  }
  .search-field {
    width: 74% !important;
    width: calc(75% - 6px) !important;
    float: left;
    margin-right: 2px;
  }
  .search-submit {
    width: auto !important;
    max-width: 25% !important;
    min-width: 25% !important;
  }
  &:after {
    @include clearfix;
  }
}